@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
  margin: 10px;
}

.footer {
  background-color: #eeeeee;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #696969;
}

/* In comparing to the solution I did not have the exact spacing the solution does but the flex structure overall matches which I think is the ,more important thing any, one of the bigger differences is the soluton has "

 .content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} "

where my css only has " .content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
} "

missing the "flex: 1;...." value and when adding that in I did not see a differnce in display when changing the screen in either direction not sure why, only thing I can think of is I have an extra flex declaration in the body 

" body {
  ....
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 

with the extra being "justify-content: space-between", so not sure if that is interferring with that behavior or not.
*/